// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Star Rating
.star-rating {
  $starcolor_firstselect: #FFD700;
  $starcolor_secondselect: #FFED85;
  $star_full: "\f005";
  $star_half: "\f089";

    &:not(:checked){
      > label:hover,
      > label:hover ~ label {color: $starcolor_firstselect;}
    }

    > .half:before{
      content: $star_half;
      position: absolute;
    }

    > input {
      display: none;
      &:checked {
        ~ label { color: $starcolor_firstselect;}
        + label:hover,
        ~ label:hover,
        ~ label:hover ~ label {color: $starcolor_secondselect;}
      }
    }

    > label {
      color: #ddd;
      float: right;
      &:before {
        margin: 5px;
        display:inline-block;
        font-family: FontAwesome;
        font-size: 1.25em;
        content:$star_full;
      }
      &:hover {
        ~ input:checked ~ label {color: $starcolor_secondselect}
      }
    }
    &:not([readonly]){
    }
}
